/* Imported */
@import url('./Features/features.css');
@import url('./components/components.css');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  color: #fff;
}
