.avatar {
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.infor-label {
  font-size: 14px;
  font-weight: 600;
  color: var(--menu-color-variant-1);
  margin-bottom: 5px;
}

.setting-infor {
  width: 250px;
  height: 100%;
}

.body-content {
  width: 250px;
  height: 100%;
}

.setting-small {
  width: 650px;
  height: 100%;
}

.data {
  margin-left: 50px;
  margin-bottom: 10px;
}

.btn-switch-left {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 15px 0px 0px 15px;
}

.btn-switch-left:hover {
  background-color: var(--menu-color-variant-2);
  color: var(--text-white);
  transition: 0.5s ease;
}

.btn-switch-right {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 0px 15px 15px 0px;
}


.btn-switch-right:hover {
  background-color: var(--menu-color-variant-2);
  color: var(--text-white);
  transition: 0.5s ease;
}

.btn-change-password {
  color: crimson;
}