.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px 0px 20px 0px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.box-h1 {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--text-black);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.box-body {
 margin: 10px 0px 10px 0px;
}


.box-p {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--text-black);
  margin: 0;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn-admin {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-variant-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: var(--text-white);
  margin: 0;
  padding: 5px 10px 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 15px;
}